@import '../../Styles/variables.scss';
//Used Nested variables to style the Forgot Passowrd Page.
.forgotPassword-outer-container {
    background: $black-colour;
    height: 1000px;
}

.forgot-password-questionContainer{
    div {
        label {
            color:$white-colour;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        div{
            color: $white-colour;
            border: 1px solid $white-colour;
            width: 590px;
            div{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }
        }
        
    }
}
.answerContainer{
    margin-left: 10px;
}
.forgot-password-right-inner{
    margin-left: 250px;
}
.fp-button-container{
    
        width: 98%;
        padding: 0px;
        h4 {
            text-align: center;
        }
        button {
            border: 0px;
            background-color:  $text-red;
            height: 35px;
            width: $width;
            border-radius: 5px;
            color: $white-colour;
            font-size: 14px;
            margin: 0px;
            margin-top: 15px;
            margin-left: 10px;
    }
}
.fp-password-container {

    margin-top: 10px;
    margin-left: 8px;
    border: 0px;
    width: 97%;
    font-size: 14px;
}
.fp-password-container2 {
    @extend .fp-password-container;
}