
    @font-face {
        font-family: "Regular";
        src: local("JosefinSans"), url("./JosefinSans-Regular.ttf");
    }
      
      @font-face {
        font-family: "Italic" ;
        src: local("JosefinSans"), url("./JosefinSans-Italic.ttf");
      }
      
      @font-face {
        font-family: "Bold" ;
        src: local("JosefinSans"), url("./JosefinSans-Bold.ttf");
      }
      
      @font-face {
        font-family: "SemiBold" ;
        src: local("JosefinSans"), url("./JosefinSans-SemiBold.ttf");
      }

